html{
	height: 100%;
	width: 100%;
}

body{
	background-image : linear-gradient(60deg, #F0C27B 50%, #9CECFB 50%);
}

.bg1{
	margin: 2rem;
	background-color:   #DED29E;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bg2{
	margin: 2rem;
	background-color: #ffffff;
	border-radius: 6%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bg3{
	width: 50%;
	margin: 1rem;
	margin-top: 3rem;
	background-color: #ffffff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}

.ktp{
	width: 50%;
	margin: 1rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}

.profile{
	border-radius: 50%;
	width: 40%;
}

.about_me{
	border-radius: 50%;
	width: 35%;
}


p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 30px

}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;    
}

.isi {
    color: #666666;
    font-size: 16px;
}

.insiderec {
    padding: 30px;
}

.judul {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=date], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: white;
    color: #666666;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #999999;
    color: white;
}

