{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Cypherost</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'forstyle.css' %}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="bg1">
		<a href="profile.html"> go to profile</a>
	<div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6 text-center">
                <p class="text-white" style="font-size: 50px; text-align: center"><strong>Hello! How are you,jasmine?</strong></p>
                <form action="{% url 'landingpage' %}" method="POST" class="w3-left-align isi">
                    {% csrf_token %}    

                    {{ form }}
                    <input id="submit" type="submit" value="post it!">
                </form>
            </div>
            <div class="col-sm-6">
                <div class="roundedrec">
                    <div class="insiderec">
                        <p class="judul">What you feel today?</p>
                        <table id="statusnya" style="width:100%">
                            {% if kabar2 %}
                                <tr>
                                    <th>mood</th>
                                </tr>
                                {% for kabar in kabar2 %}
                                    <tr>
                                        <td>{{ kabar.mood }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h5>No Response</h5> 
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


	</div>
</body>

</html>


