{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'forstyle.css' %}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style>

	h1{
	font-family: 'Pacifico', cursive;
	color:  #685642;
	font-size: 5vw;
	}

	h2{
	font-family: 'Pacifico',cursive;
	color: #ffffff;
	font-size: 6vw;
	}

	p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 30px

	}
	
	</style>
</head>
<body>
	<center>
	<h2>MY <img src="{%static 'homepic.jpg' %}" class="about_me"> Profile</h2>
	</center>
	<div class="row">
		
	
	  <div class="col" style="background-color: #ffffff; margin: 1rem">
	  	<h1>It's Me!</h1>
	  	<p> nice to meet you, i'm <span style="color:black;font-weight:bold"> Jasmine Nur Safiera </span> </p>
		<p>an energetic and ambitious person <br> who has developed a mature and responsible approach to<br> any task that undertake or situation that i am presented with.</p>
	  </div>

	  <div class="col" style="background-color: #ffffff; margin: 1rem">
	  	<h1>Ktp-ku</h1>
	  	<p> Tanggal lahir : 31 mei 1999<br>Tempat Lahir : Jakarta<br>Universitas : Universitas Indonesia<br>Kewarganegaraan : Indonesia<br>status : tidak menikah<br> Bahasa : Indonesia </p>
	  </div>

	  <div class="w-100"></div>
	  <div class="col" style="background-color: #ffffff; margin: 1rem; height: 100%">
	  	<h1>Interest and Skill</h1>
	  	<p>Public Speaking</p>
			<div class="container">
			  <div class="skills pubspeak">80%</div>
			</div>

			<p>Photo Editing</p>
			<div class="container">
			  <div class="skills photed">65%</div>
			</div>

			<p>Jurnalistic</p>
			<div class="container">
			  <div class="skills jurnal">80%</div>
			</div>
			<br>
	  </div>

	  <div class="col" style="background-color: #ffffff; margin: 1rem">
	  	<h1>Experiences</h1>
	  	<ul class="list-unstyled">
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff of Press Compfest X
		    </div>
		  </li>
		  <li class="media my-4">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff of BEM Media Fasilkom
		    </div>
		  </li>
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      PIC Mentor of Alfabeta
		    </div>
		  </li>
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff of Creative OH
		    </div>
		  </li>
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff PEMIRA FASILKOM 2017
		    </div>
		  </li>
		</ul>

	  </div>
	</div>


</body>
</html>

